body {
    color:white;
    background: url("../img/bg.png") no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    font-family: Tahoma, sans-serif;
}

.header {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #00006B;
}

.content {
    position: absolute;
    top: 100px;
    text-shadow: 1px 1px black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00006B;
    text-align: center;
}

button {
    background-color: yellow;
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
}

.content {
    width: 100%;
}

.button-box {
    width: 100%;
    text-align: center;
}